/* Imports */
@import url('https://fonts.googleapis.com/css?family=Space Grotesk');

/*background styling*/

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Space Grotesk', sans-serif;
}

.background-main {
    background: url(../images/bg-main-desktop.png);
    background-size: cover;

    display: inline-block;

    width: 30%;
    height: 100vh;

    z-index: 1;
}

/*card front styling*/
.card-front-container {
    background: url(../images/bg-card-front.png);
    background-size: cover;

    display: flex;
    position: absolute;
    
    top: 15vh;
    left: 10vw;

    width: 447px;
    height: 245px;
    scale: 80%;

    font-size: 18px;
    color: hsl(0, 0%, 100%);

    z-index: 2;
}

.card-front-container svg {
    position: absolute;
    margin-top: 25px;
    margin-left: 25px;
}

.card-front-container .card-info {
    display: grid;

    margin: 120px auto 0 auto;
    
    width: 85%;

    grid-template-columns: 60% 40%;
    row-gap: 5px;
}

.card-front-container #card-number {
    grid-column: 1/3;

    align-self: center;
    justify-self: center;

    font-size: 32px;
}

.card-front-container #card-holder {
    justify-self: left;
}

.card-front-container #expiry-date {
    justify-self: right;
}

/*card back styling*/
.card-back-container {
    background: url(../images/bg-card-back.png);
    background-size: cover;

    display: flex;
    position: absolute;

    top: calc(15vh + 196px + 1vh);
    left: 15vw;

    width: 447px;
    height: 245px;
    scale: 80%;

    font-size: 18px;
    color: hsl(0, 0%, 100%);

    z-index: 2;
}

.card-back-container #CVC-number {
    align-self: center;

    margin: 0px 60px 5px auto;
}

/* form styling */
.background-form {
    display: block;
    position: absolute;

    top: 20vh;
    left: 60vw;
}

.background-form form {
    display: grid;

    width: 60%;
    grid-template-columns: 50% 50%;
    row-gap: 5px;

    font-size: 12px;
    font-weight: 700;
    color: hsl(278, 68%, 11%);
}

.background-form form fieldset {
    border: none;
}

input[type="text"] {
    margin-top: 5px;
    margin-bottom: 1px;
    padding: 2px 5px;

    height: 30px;

    border: 1px solid gray;
    border-radius: 10px;

    font-family: 'Space Grotesk', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: hsl(279, 6%, 55%);
}

.background-form #holder-name {
    grid-column: 1/3;
}

.background-form #holder-name input {
    width: 100%;
}

.background-form #holder-number {
    grid-column: 1/3;
}

.background-form #holder-number input {
    width: 100%;
}

.background-form #holder-date, #holder-code {
    padding: 5px 10px;
}

.background-form #holder-date input {
    width: 25%;

    text-align: center;
}

.background-form #holder-code input {
    width: 100%;
}


.background-form #confirm {
    grid-column: 1/3;
    margin: 7px 5px;
    width: 100%;
}

button[type="submit"] {
    background-color:  hsl(278, 68%, 11%);
    height: 50px;
    width: 100%;

    border: none;
    border-radius: 10px;

    font-family: 'Space Grotesk', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: hsl(0, 0%, 100%);
}

.error {
    color: red;
    font-size: 0.65rem;
    margin: 0 5px;;
}

.confirmation-form {
    display: flex;
    position: absolute;

    top: 25vh;
    left: 65vw;
}

.confirmed {
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn-continue {
    background-color:  hsl(278, 68%, 11%);
    height: 40px;
    width: 100%;

    border: none;
    border-radius: 10px;

    font-family: 'Space Grotesk', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: hsl(0, 0%, 100%);
}

.display-none {
    display: none;
}


/** media queries **/
@media only screen and (max-width: 1024px) {
    .card-front-container {
        scale: 70%;
    }

    .card-back-container {
        top: calc(15vh + 172px + 1vh);
        scale: 70%;
    }
    
    .background-form form {
        width: 70%;
    }
}

@media only screen and (max-width: 768px) {
    .card-front-container {
        left: 5vh;
        scale: 55%;
    }

    .card-back-container {
        top: calc(15vh + 135px + 1vh);
        left: 10vh;
        scale: 55%;
    }

    .background-form form {
        width: 80%;

        font-size: 10px;
    }

    input[type="text"] {
        height: 25px;
    
        font-size: 12px;
    }

    button[type="submit"] {
        height: 40px;

        font-size: 15px;
    }

    .error {
        font-size: 0.5rem;
    }

    .confirmation-form {
        display: flex;
        position: absolute;
    
        top: 25vh;
        left: 60vw;
    }

    .btn-continue {
        font-size: 15px;
    }
}

@media only screen and (max-width: 426px) {
    .background-main {
        background: url(../images/bg-main-desktop.png);
        background-size: cover;
    
        display: block;

        width: 100%;
        height: 35vh;
    
        z-index: 1;
    }

    .card-front-container {
        top: 5vh;
        left: -10vh;

        scale: 50%;
    
        z-index: 3;
    }

    .card-back-container {
        top: -10vh;
        left: 10vh;

        scale: 50%;

        z-index: 2;
    }


    .background-form {
        display: flex;
        align-items: center;
        justify-content: center;
    
        top: 50vh;
        left: 0vh;

        width: 90%;
    }

    .background-form form {
        width: 70%;
        grid-template-columns: 60% 40%;
        row-gap: 5px;
    
        font-size: 10px;
    }

    input[type="text"] {
        margin-top: 2px;
        padding: 1px 5px;
    
        font-size: 10px;
    }

    button[type="submit"] {
        height: 30px;
        width: 100%;

        font-size: 16px;
    }

    .error {
        font-size: 7px;
    }

    .confirmation-form {
        display: flex;
        align-items: center;
        justify-content: center;
    
        top: 45vh;
        left: 5vh;

        width: 90%;
    }
    
    .confirmed {
        margin: 0;
        padding: 0;
        width: 70%;

    }
    
    .btn-continue {
        background-color:  hsl(278, 68%, 11%);
        height: 30px;
        width: 80%;
    }

    .display-none {
        display: none;
    }
}

@media only screen and (max-width: 376px) {
    .card-front-container {
        top: 5vh;
        left: -10vh;
    }

    .card-back-container {
        top: -10vh;
        left: 0vh;
    }
}