/* Imports */
@import url('https://fonts.googleapis.com/css?family=Space Grotesk');


/* background styling */
* {
    border: 1px solid black;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    font-family: 'Space Grotesk', sans-serif;
}

.background-main {
    background: url(../images/bg-main-desktop.png);
    background-size: cover;
    width:450px;
    height: 100vh;
    z-index: 1;
}


/* card front styling */
.card-front-container {
    background: url(../images/bg-card-front.png);
    background-size: cover;
    position:absolute;
    top: 10vh;
    left: 150px;
    width: 447px;
    height: 245px;
    font-size: 17px;
    color: hsl(0, 0%, 100%);
    z-index: 2;
}

.card-front-container svg {
    position: absolute;
    margin-top: 5%;
    margin-left: 5%;
}

.card-front-container .card-info {
    display: grid;
    grid-template-columns: 60% 40%;
    row-gap: 5px;
    margin: 140px auto 0 auto;
    width: 85%;
}

.card-front-container #card-number {
    grid-column: 1/3;
    align-self: center;
    justify-self: center;
    font-size: 34px;
}

.card-front-container #card-holder {
    justify-self: left;
}

.card-front-container #expiry-date {
    justify-self: right;
}


/* card back styling */
.card-back-container {
    background: url(../images/bg-card-back.png);
    background-size: cover;
    position: absolute;
    top: calc(10vh + 245px + 2vh);
    left: 250px;
    width: 447px;
    height: 245px;
    font-size: 17px;
    color: hsl(0, 0%, 100%);
    z-index: 2;
}

.card-back-container #CVC-number {
    position: absolute;
    top:45%;
    right: 13%;
}


/* form styling */
input[type="text"] {
    margin-top: 5px;
    margin-bottom: 1px;
    padding: 3px 10px;
    height: 40px;
    width: 100%;
    border: 1px solid gray;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    color: hsl(279, 6%, 55%);
}

.background-form {
    position: absolute;
    top: 20vh;
    left: 850px;
}

.background-form form {
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 20px;
    width: 70%;
    min-width: 330px;
    font-size: 13px;
    font-weight: 700;
    color: hsl(278, 68%, 11%);
}

.background-form form fieldset {
    padding: 1px;
    border: none;
}

.background-form #holder-name {
    grid-column: 1/3;
}

.background-form #holder-number {
    grid-column: 1/3;
}



.background-form #holder-date input {
    width: 30%;
    text-align: center;
}

.background-form #holder-code input {
    width: 100%;
}

.background-form #confirm {
    grid-column: 1/3;
    margin: 7px 5px;
    width: 100%;
}

button[type="submit"] {
    background-color: hsl(278, 68%, 11%);
    margin-left: -5px;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    color:hsl(0, 0%, 100%);
}

.error {
    margin-left: 8px;
    font-size: 12px;
    color: red;
}



/* confirmation form styling */
.confirmation-form {
    position: absolute;
    top: 25vh;
    left: 850px;
}

.confirmed {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    justify-content:center;
    width: 100%;
    min-width: 330px;
}

.btn-continue {
    background-color: hsl(278, 68%, 11%);
    height: 50px;
    width: 100%;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    color: hsl(0, 0%, 100%);
}

.display-none {
    display: none;
}

@media only screen and (max-width: 1024px) {
    .background-main {
        width:350px;
    }

    .card-front-container {
        left: 100px;
        width: 402px;
        height: 221px;
        font-size: 15px;
    }

    .card-front-container svg {
        transform: scale(90%);
        margin-top: 4%;
        margin-left: 4%;
    }

    .card-front-container #card-number {
        font-size: 30px;
    }

    .card-back-container {
        top: calc(10vh + 221px + 2vh);
        left: 150px;
        width: 402px;
        height: 221px;
        font-size: 15px;
    }

    .background-form {
        top: 20vh;
        left: 650px;
        height:auto;
    }

    .confirmation-form {
        position: absolute;
        top: 25vh;
        left: 650px;
    }
}

@media only screen and (max-width: 768px) {
    body {
        overflow: auto;
    }

    .background-main {
        width: 100%;
        height: 350px;
    }

    .card-back-container {
        top: 50px;
        left: calc(50vw - 180px);
        width: 447px;
        height: 245px;
        font-size: 17px;
    }


    .card-front-container {
        top: 198px;
        left: calc(50vw - 267px);
        width: 447px;
        height: 245px;
        font-size: 17px;
        z-index: 3;
    }

    .card-front-container svg {
        transform: scale(100%);
        margin-top: 5%;
        margin-left: 5%;
    }

    .card-front-container #card-number {
        font-size: 34px;
    }

    .background-form {
        top: 500px;
        left: 0px;
        width: 100%;
    }

    .background-form form {
        margin: 0 auto;
        font-size: 15px;
    }

    input[type="text"] {
        height: 50px;
        font-size: 18px;
    }

    button[type="submit"] {
    height: 60px;
    font-size: 18px;
    }

    .error {
        font-size: 14px;
    }

    .confirmation-form {
    top: 600px;
    left: 0px;
    width: 100%;
    }

    .btn-continue {
        height: 50px;
        width: 80%;
        max-width: 360px;
    }
}

@media only screen and (max-width: 426px) {
    .background-main {
        height: 250px;
    }
    
    .card-back-container {
        top: 30px;
        left: 70px;
        width: 313px;
        height: 172px;
        font-size: 11.5px;
    }

    .card-front-container {
        top: 130px;
        left: 10px;
        width: 313px;
        height: 172px;
        font-size: 11.5px;
        z-index: 3;
    }

    .card-front-container svg {
        transform: scale(70%);
        margin-top: 3%;
        margin-left: 3%;
    }

    .card-front-container .card-info {
        display: grid;
        grid-template-columns: 60% 40%;
        row-gap: 5px;
        margin: 100px auto 0 auto;
        width: 85%;
    }

    .card-front-container #card-number {
        font-size: 23px;
    }

    .background-form {
        top: 350px;
    }

    .background-form form {
        font-size: 14px;
    }

    input[type="text"] {
        height: 40px;
        font-size: 16px;
    }

    button[type="submit"] {
        height: 50px;
        font-size: 18px;
    }

    .error {
        font-size: 13px;
    }

    .confirmation-form {
        top: 400px;
    }

    .btn-continue {
        height: 50px;
        width: 80%;
        max-width: 360px;
    }
}

@media only screen and (max-width: 376px) {
    .background-main {
        height: 220px;
    }

    .card-back-container {
        left: 70px;
        width: 268px;
        height: 147px;
        font-size: 10px;
    }

    .card-front-container {
        top: 120px;
        left: 10px;
        width: 268px;
        height: 147px;
        font-size: 10px;
    }

    .card-front-container svg {
        transform: scale(60%);
        margin-top: 1%;
        margin-left: 1%;
    }

    .card-front-container .card-info {
        margin: 80px auto 0 auto;
    }

    .card-front-container #card-number {
        font-size: 20px;
    }

    .background-form {
        top: 320px;
    }

    .background-form form {
        margin-bottom: 50px;
    }

    .confirmation-form {
        top: 320px;
    }
}

@media only screen and (max-width: 321px) {
    .background-main {
        height: 170px;
    }
    
    .card-back-container {
        top: 20px;
        left: 70px;
        width: 224px;
        height: 123px;
        font-size: 8px;
    }

    .card-front-container {
        top: 92px;
        left: 1px;
        width: 224px;
        height: 123px;
        font-size: 8px;
    }

    .card-front-container svg {
        transform: scale(50%);
        margin-top: 0.5%;
        margin-left: 0.15%;
    }

    .card-front-container .card-info {
        row-gap: 2px;
        margin: 75px auto 0 auto;
    }

    .card-front-container #card-number {
        font-size: 16px;
    }

    .background-form {
        top: 260px;
    }

    .background-form form {
        row-gap: 10px;
        min-width: 280px;
        font-size: 12px;
    }

    input[type="text"] {
        height: 30px;
        font-size: 14px;
    }

    .background-form #holder-date input {
        width: 35%;
    }

    button[type="submit"] {
        height: 40px;
        font-size: 16px;
    }

    .error {
        font-size: 11px;
    }

    .confirmation-form {
        top: 260px;
    }

    .btn-continue {
        height: 40px;
        width: 70%;
        max-width: 360px;
    }
}